<div bsModal #editProjectModal="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="editProjectModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
                <div #modalContent class="modal-content">
                        <form *ngIf="active" [formGroup]="projectForm"  #editProjectForm="ngForm" id="frm_edit_project" (ngSubmit)="save()"> 
                                <div class="modal-header">
                                        <h4 class="modal-title">
                                                <span>Manage Project</span>
                                        </h4>
                                        <button type="button" class="close" (click)="close()" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        
                                </div>
                                <div class="modal-body">
                                        <div class="row">
                                                <div class="col-sm-12 ">
                                                    <label for="title" class="form-label">Project Name</label>
                                                    <div class="form-group">
                                                        <input id="Title" type="text"  formControlName="title" required maxlength="50" class="validate form-control">
                                                    </div>
                                                </div>
                                       </div>
                                        <div class="row">
                                                <div class="col-sm-12 ">
                                                    <label for="startingDate" class="form-label">Start Date</label>
                                                    <div class="form-group">
                                                        <input id="startingDate" type="date"  class="form-control validate" formControlName="startingDate" required> 
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <label for="endingDate" class="form-label">Start Date</label>
                                                <div class="form-group">
                                                    <input id="endingDate" type="date"  class="form-control validate" formControlName="endingDate" required> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="form-label"> User </label>
                                                <select formControlName="users" class="form-control">
                                                        <option value="">- Select -</option>
                                                        <option *ngFor="let user of nameList" value="{{user._id}}">{{user.name}}</option>
                                                </select>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="statusId" class="form-label">Status</label>
                                                <div class="form-group">
                                                        <input id="statusId" type="number"  class="form-control validate" formControlName="statusId"> 
                                                </div>
                                            </div>
                                        </div>

                                       
                                </div>
                                <div class="modal-footer">
                                        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                                            Cancel
                                        </button>
                                        <button [disabled]="!editProjectForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                                            Save
                                        </button>
                                </div>
                        </form>
                </div>
    </div>
</div>