<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>p</b>Track</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
  
      <form [formGroup]="loginForm">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" (click)="loginUser()" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
  
      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a>
      </div> -->
      <!-- /.social-auth-links -->
  
       <a href="#" [routerLink]="['/pages/forgotpassword']">I forgot my password</a>
      <!-- <br><a href="register.html" class="text-center">Register a new membership</a> -->
  
    </div>
    <!-- /.login-box-body -->
  </div>



<!-- <div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
              <div class="card-block">
                  <form [formGroup]="loginForm">
                      <h1>Login</h1>
                      <p class="text-muted">Sign In </p>
                      <div class="input-group mb-3">
                          <span class="input-group-addon"><i class="icon-user"></i></span>
                          <input type="text" class="form-control" formControlName="email" placeholder="Email">
                      </div>
                      
                      <div class="input-group mb-4">
                          <span class="input-group-addon"><i class="icon-lock"></i></span>
                          <input type="password" class="form-control" formControlName="password" placeholder="Password">
                      </div>
                      
                      <div class="row">
                          <div class="col-6">
                              <button type="button" class="btn btn-primary " (click)="loginUser()" data-style="expand-left">Login</button>
                          </div>
                          <div class="col-6 text-right">
                              <button type="button" [routerLink]="['/pages/forgotpassword']" class="btn btn-link px-0">Forgot password?</button>
                          </div>
                      </div>
                  </form>
              </div>
             
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div> -->
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>