<!-- <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/user">User</a></li>
        <li><a routerLink="/about">About</a></li>
</ul> -->
<aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="Riw-search"></i>
              </button>
            </span>
             </div>
           </form>
           <ul class="sidebar-menu">
                <li routerLinkActive="active">
                     <a routerLink="/dashboard">
                            <i class="home"></i>
                            <span>Home</span>
                     </a>
                </li>
                <li>
                    <a routerLink="/project" class="menu-toggle">
                                    <i  class="project"></i>
                                    <span>Projects</span>
                                </a>
                 </li>
                <li>
                                <a routerLink="/user" class="menu-toggle">
                                                <i  class="user"></i>
                                                <span>Users</span>
                                            </a>
                </li>
                <li>
                    <a routerLink="/role" class="menu-toggle">
                                    <i  class="role"></i>
                                    <span>Roles</span>
                                </a>
                </li>
                <li>
                                <a routerLink="/about" class="menu-toggle">
                                                <i  class="about"></i>
                                                <span>About</span>
                                            </a>
                </li>

           </ul>
        
</section>    
</aside>