
<header class="main-header">
<!-- Logo -->
    <a routerLink="/dashboard" class="logo">
        <span class="logo-mini"><img class="logo-img" src="/assets/img/logo.png" width="16px" height="25px"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img class="logo-img" src="/assets/img/logo.png"></span>
    </a>
    
    <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            </a>

            <!-- Navbar Right Menu -->
            <button (click)="logout()" class="btn pull-right">Logout</button>
    </nav>

</header>
