<section class="content-header">    
    <h1 class="h1">User roles </h1>
    <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="Riw-dashboard"></i> Dashboard</a></li>
    </ol>        
</section>
<section class="content container-fluid">
    <div class="box box-warning left-cont-summary">
            <div class="row">
                    <div class="col-sm-12">
                       <button class="btn btn-primary btn-sm pull-right" type="button" (click)="createRole()"><i class="fa fa-plus"></i>&nbsp; Add</button>
                   </div>
               </div>



        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p-dataTable #dtRoles  [value]="roles" [resizableColumns]="true" 
                [lazy]="true" (onLazyLoad)="loadRoleList($event)"
                [paginator]="true" rows="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30,50]"
                >
        <p-column field="_id" header="Id" [hidden]="true" ></p-column>
        <p-column field="roleName" header="Role Name" [style]="{'width': '22%'}" [filter]="false">
            <!-- <ng-template pTemplate="filter" let-col>
                <filter-stringcomponent searchfield="{{col.field}}" (optionClickCompleted)="gridfilter($event)"></filter-stringcomponent>
            </ng-template> -->
        </p-column>
        <p-column field="description" header="Description" ></p-column>
        <p-column field="isTechnician" header="IsTechnician" [style]="{'width': '10%'}"></p-column>
        <p-column field="isEndUser" header="IsEndUser" [style]="{'width': '10%'}" ></p-column>
        <p-column field="isEditHelp" header="IsEditHelp" [style]="{'width': '10%'}"></p-column>
        
        <p-column  header="Action" [filter]="false" [style]="{'width':'12%', 'overflow':'visible'}">
            <ng-template let-data="rowData" pTemplate="body">
                <button class="btn btn-primary btn-sm" (click)="updatesRole(data._id)">Edit</button>
                <button class="btn btn-primary btn-sm" (click)="deleteRole(data._id)">Delete</button>
            </ng-template>
        </p-column>
    </p-dataTable>
            </div>
        </div>
    </div>
</section>

<create-role-modal #createRoleModal (modalSave)="refresh()"></create-role-modal>
<edit-role-modal #editRoleModal (modalSave)="refresh()"></edit-role-modal>